@font-face {
    font-family: "yamuor-icons";
    src: url("https://drive.google.com/file/d/1JnO1tYLWqzx1sQ1Yxcb-Wt7aTjL7zJhh/view?usp=drive_link");
    src: url("https://drive.google.com/file/d/1JnO1tYLWqzx1sQ1Yxcb-Wt7aTjL7zJhh/view?usp=drive_link")
            format("embedded-opentype"),
        url("https://drive.google.com/file/d/12L14W_2k5UIsZh3IC34qMnpUvQ22Dagr/view?usp=drive_link")
            format("truetype"),
        url("https://drive.google.com/file/d/1-w-QVOsZCtZjJ_9lQP1z_y5d-CtbhWzh/view?usp=drive_link") format("woff"),
        url("https://drive.google.com/file/d/1hVccys6e_Mh8BeiUR9NQuvl4-ewFol52/view?usp=drive_link")
            format("svg");
    font-weight: normal;
    font-style: normal;
    font-display: block;
}

i {
    font-family: "yamuor-icons" !important;
    font-style: normal;
    font-weight: 400;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    letter-spacing: 0;
    -webkit-font-feature-settings: "liga";
    -moz-font-feature-settings: "liga=1";
    -moz-font-feature-settings: "liga";
    -ms-font-feature-settings: "liga" 1;
    font-feature-settings: "liga";
    -webkit-font-variant-ligatures: discretionary-ligatures;
    font-variant-ligatures: discretionary-ligatures;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
