$icomoon-font-family: "yamuor" !default;
$icomoon-font-path: "fonts" !default;

$amazon: "\ea87";
$brightness-contrast: "\e9d6";
$codepen: "\eae8";
$css3: "\eae6";
$dropbox: "\eaae";
$enter: "\ea13";
$exit: "\ea14";
$eye: "\e9ce";
$eye-blocked: "\e9d1";
$git: "\eae7";
$github: "\eab0";
$google: "\ea89";
$heart: "\e9da";
$html-five: "\eae4";
$html-five2: "\eae5";
$linkedin: "\eac9";
$location: "\e947";
$location2: "\e948";
$phone: "\e942";
$phone-hang-up: "\e943";
$globe: "\e9c9";
$spotify: "\ea94";
$telegram: "\ea95";
$twitter: "\ea96";
$whatsapp: "\ea93";
$youtube: "\ea9d";
$Kaaiioos: "\e920";
$ancient: "\e94c";
$apeerion: "\e94b";
$archivebox: "\e94a";
$archivebox-fill: "\e949";
$arrow-clockwise: "\e946";
$arrow-counterclockwise: "\e945";
$automat: "\e944";
$back-arrow: "\e941";
$bag: "\e940";
$bag-fill: "\e93f";
$bell: "\e93e";
$bell-circle: "\e93d";
$bell-circle-fill: "\e93c";
$bell-fill: "\e93b";
$chat-bubble: "\e93a";
$chat-bubble-2: "\e939";
$chat-bubble-2-fill: "\e938";
$chat-bubble-fill: "\e937";
$chat-bubble-text: "\e936";
$chat-bubble-text-fill: "\e935";
$checkmark: "\e934";
$checkmark-circle: "\e933";
$checkmark-circle-fill: "\e932";
$checkmark-seal: "\e930";
$checkmark-seal-fill: "\e931";
$cloud-download: "\e92f";
$cloud-download-fill: "\e92e";
$coompact: "\e92d";
$cube: "\e92c";
$deematt: "\e92b";
$deeniiz: "\e92a";
$eeiiva: "\e929";
$ellipsis-circle: "\e927";
$ellipsis-circle-fill: "\e926";
$ellipsis-vertical-circle: "\e925";
$ellipsis-vertical-circle-fill: "\e928";
$gear: "\e924";
$info: "\e923";
$info-circle: "\e922";
$info-circle-fill: "\e921";
$keep: "\e91f";
$logo: "\e91e";
$maattbook: "\e91d";
$manttek: "\e91c";
$matpenter: "\e91b";
$mic: "\e91a";
$mic-circle: "\e919";
$mic-circle-fill: "\e918";
$mic-fill: "\e917";
$paperclip: "\e916";
$pause: "\e915";
$pause-circle: "\e914";
$pause-circle-fill: "\e913";
$pause-fill: "\e912";
$pencil: "\e911";
$pencil-circle: "\e910";
$pencil-circle-fill: "\e90f";
$person: "\e90e";
$play: "\e90d";
$play-circle: "\e90c";
$play-circle-fill: "\e90b";
$play-fill: "\e90a";
$plus: "\e909";
$rectangle-paperclip: "\e908";
$rectangle-stack: "\e907";
$rectangle-stack-fill: "\e906";
$search: "\e905";
$square-stack: "\e904";
$square-stack-fill: "\e903";
$trash: "\e902";
$trash-circle: "\e901";
$trash-circle-fill: "\e900";
$trash-fill: "\e94f";
$viisiion: "\e94e";
$yamuor: "\e94d";

